*{
    margin: 0;
    padding: 0;
}


.navslied{
    display: flex;
    column-gap: 50px;
    cursor: pointer;
}

.navslied .navitem{
    list-style: none;
    font-family: 'Jacques Francois Shadow', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
    font-weight:500;
}

.row-1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo{
text-transform: capitalize;
margin-left: 30px;
}

.logo p{
    font-family: 'Jacques Francois Shadow', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

nav{
    position: sticky;
    background-color:transparent;
    background-color: #45656f;
    opacity: 0.5;
    padding: 20px;
}

.col-1{
    margin-top: 20px;
    margin-right: 40px;
}

.subnav{
    list-style: none;
    position: absolute;
    color: black;
    background-color:white;
    padding: 20px 30px;
    box-shadow: 0px -4px #45656f;
    display: none;
    animation: slied;
    border: 1px solid white;
    box-shadow: 1px 2px;
    animation-duration: 0.3s;
}

.sub-nav-item{
    margin-bottom: 5px;
}

.col-1 .navslied .navitem:nth-child(2):hover .subnav{
    display: block;
}

.navslied .navitem:hover{
    color: aquamarine;
}

@keyframes slied{
    from{
        transform: translateY(40px);
        transition: 1s;
    }
}