*{
    margin: 0;
    padding: 0;
}

.cate{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.cate:hover > .arrowup{
    color:rgb(238, 92, 14);
    rotate: 180deg;
    transform: translateY(2px);
}

.cate span{
    border: 1px solid lightgray;
}

.cate:hover {
    color: rgb(238, 92, 14);
}

.row1{
    display: flex;
    justify-content: space-around;
}

.navItem{
    display: flex;
    list-style: none;
}

.Link{
    text-decoration: none;
    color: black;
}


