.about, .contact, .home , .requirement, .services, .signup, .terms, .notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100vh;
    background-image: url('./images/background-nature-1.jpg');
    background-position: center;
    background-size: cover;
}
.hometext {
    display: block;
    background-color: dimgrey;
}